<html>
<head>
    <title>Redirecting...</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="leaflet/dist/leaflet.css" />
    <link rel="stylesheet" href="stylesheet.css" />
    <script src="http://code.jquery.com/jquery.min.js"></script>
    <script src="leaflet/dist/leaflet.js"></script>
    <meta http-equiv="refresh" content="1;URL=/draw">
</head>

<body>
    <div class="box">
        <div role="main" id="map" class="map" style="height: 100%; width: 50%;">

        </div>
        <div class="explains">
            <button type=“button” class="btn-circle-flat-here" onclick="location.href='/search'">
              <img src="magni.svg" width="35px" height="35px" alt="">
            </button>
            <button type=“button” class="btn-circle-flat" onclick="location.href='/'">
              <img src="marker_TBC.svg" width="35px" height="35px" alt="">
            </button>
            <button type=“button” class="btn-circle-flat" onclick="location.href='/draw'">
              <img src="draw.svg" width="35px" height="35px" alt="">
            </button>
            <button type=“button” class="btn-circle-flat" onclick="location.href='/database'">
              <img src="database.svg" width="35px" height="35px" alt="">
            </button>
            <button type=“button” class="btn-circle-flat" onclick="location.href='/sql'">
              <img src="database2.svg" width="35px" height="35px" alt="">
            </button>
            <button type=“button” class="btn-circle-flat" onclick="location.href='/test'">
              <img src="marker_danger.svg" width="35px" height="35px" alt="">
            </button>
        </div>
        <div class="explains">
            <p>[Details]は現場で発生している通行者に何かしらの危害を与える恐れがあるものが書かれています。<br></p>
        </div>
        <div class="explains">
            <p>
              [Danger]は実際に危害を与える可能性や与えた場合の致死性などを考慮して1~5で点数を付けます。
              4からは身の危険を顕著に感じる程度です。
            </p>
        </div>
        <div class="explains">
            <p><log>
                Redirecting...
            </log></p>
        </div>
    </div>
</body>
</html>
