.map, .explains {
  float: left;
  border-color: yellow;
  width: 40%;
}

.explains{
    padding: 0.5em 1em;
    margin: 0.5em 2em;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0;
    padding: 0;
}

.box {
  border: none;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.btn-circle-flat {
  display: inline-block;
  text-decoration: none;
  background: #87befd;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat-here{
  display: inline-block;
  text-decoration: none;
  background: #668ad8;
  color: #FFF;
  width: 60px;
  height: 60px;
  line-height: 120px;
  border-radius: 50%;
  text-align: center;
  overflow: hidden;
  transition: .4s;
}

.btn-circle-flat:hover {
  background: #668ad8;
}
