.map, .explains {
  float: left;
  border-color: yellow;
  width: 40%;
}

.explains{
    padding: 0.5em 1em;
    margin: 0.5em 2em;
    color: #FFF;
    background: #6eb7ff;
    border-bottom: solid 6px #3f87ce;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.25);
    border-radius: 9px;
}
.box13 p {
    margin: 0;
    padding: 0;
}

.box {
  border: none;
  &:after {
    content: "";
    display: block;
    clear: both;
  }
}

.cp_iptxt {
	position: relative;
	width: 80%;
	margin: 20px 3%;
}
.cp_iptxt input[type='text'] {
	font: 15px/24px sans-serif;
	box-sizing: border-box;
	width: 100%;
	padding: 0.3em;
	transition: 0.3s;
	letter-spacing: 1px;
	color: #0587ff;
	border: 1px solid #87e4f7;
	border-radius: 4px;
}
.ef input[type='text']:focus {
	border: 1px solid #87e4f7;
	outline: none;
	box-shadow: 0 0 5px 1px rgba(20,249,255, .5);
}
